.main-content {
  padding: 1rem;
  display: grid;
  grid-template-areas:
    'gallery details'
    'description description'
    'map map';
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.image-gallery {
  grid-area: gallery;
}

.image-gallery img {
  width: 200px;
}

.details {
  grid-area: details;
}

.description {
  grid-area: description;
}

.map {
  grid-area: map;
}

#map {
  width: 100%;
  height: 300px;
  background: grey;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social a {
  margin: 0 10px;
  color: white;
}