<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}Republic{% endblock %}</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/logo/logo_branca.png') }}" alt="Republic Logo">
            </a>
        </div>
        <nav class="nav">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('sobre') }}">Sobre</a>
            <a href="{{ url_for('pesquisa') }}">Encontrar imóvel</a>

            {% if tipo_usuario == 'anunciante' %}
            <a href="{{ url_for('cadastro_imovel') }}">Anunciar</a>
            {% endif %}

            {% if tipo_usuario == 'anunciante' %}
            <a href="{{ url_for('meus_imoveis') }}">Meus anúncios</a>
            {% endif %}

            {% if usuario_nome %}
            <div class="user-info">
                <div class="separator">|</div>
                <span class="saudacao">Olá, {{ usuario_nome }}!</span>
                <a href="{{ url_for('logout') }}" class="logout-btn">Sair</a>
            </div>
            {% else %}
            <a href="{{ url_for('cadastro') }}">Login / Cadastro</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <p>Avenida Monsenhor Antonio Sampaio, 2365 - Dirceu Arcoverde, Parnaíba - PI, 64241-145</p>
                    </div>
                    <div class="col">
                        <div class="socials">
                            <a href="#"><img src="{{ url_for('static', filename='img/socials/facebook.png') }}"
                                    alt="Facebook"></a>
                            <a href="#"><img src="{{ url_for('static', filename='img/socials/ig.png') }}"
                                    alt="Instagram"></a>
                            <a href="#"><img src="{{ url_for('static', filename='img/socials/x.webp') }}" alt="X"></a>
                        </div>
                    </div>
                    <div class="col">
                        <a href="{{ url_for('termos') }}">Termos de serviço</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>